@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

:root {
    --color-escura: #161616;
    --color-roxa: rgb(74, 65, 145);
    --color-branca: #fff;
    --color-cinza: #999;
}

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}

html {
    min-height: 100vh;
    position: relative;
}

body {
    margin-top: 70px;
}

main {
    margin-bottom: 250px;
}

.bg-dark {
    background-color: var(--color-escura)!important;
}

.navbar-dark .navbar-nav .nav-link {
    width: 110px;
    text-align: center;
}

.navbar-dark .navbar-nav .nav-link:hover {
    background-color: var(--color-roxa);
    transition: .7s;
}

/*  HOME */

#title-container {
    min-width: 500px;
    text-align: center;
    margin-top: 30px;
}

#title-container h1 {
    font-size: 50px;
    font-weight: 600;
}

#title-container p {
    margin-top: 10px;
    text-transform: uppercase;
    color: var(--color-cinza);
}

#post-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.post-box:first-child {
    min-width: 100%;
}

.post-box {
    flex:  1 1 0;
    margin-bottom: 20px;
}

.post-box:nth-child(3) {
    margin: 0 1%;
}

.post-box img {
    width: 100%;
}

.post-box .post-title {
    font-size: 24px;
    margin: 10px 0px;
}

.post-box .post-title a {
    text-decoration: none;
    color: var(--color-escura)!important;
    transition: .7s;
}

.post-box .post-title a:hover {
    text-decoration: none!important;
    color: var(--color-cinza)!important;
    transition: .7s;
}

.post-box .post-description {
    color: var(--color-cinza);
}

.tags-container {
    margin-top: 10px;
}

.tags-container a {
    font-size: 14px;
    color: var(--color-cinza);
    display: inline-block;
    margin-right: 5px;
}

/* POST */
#post-container {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    grid-template-areas: "main sidebar";
    grid-gap: 10px;
    padding-top: 30px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 250px;
}

.content-container {
    grid-area: main;
}

#main-title {
    font-size: 36px;
    margin-bottom: 40px;
}

#post-description {
    font-style: italic;
    margin-bottom: 40px;
}

.post-content {
    line-height: 1.8;
    margin: 10px 0px;
}

.img-container {
    margin-bottom: 30px;
}

.img-container img {
    width: 60%;
}

/* POST ASIDE */
.nav-container {
    grid-area: sidebar;
}

#tags-title, #categories-title {
    font-size: 24px;
    margin-bottom: 10px;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-weight: 300; 
}

#tag-list, #categories-list {
    list-style: none;
}

#tag-list li, #categories-list li {
    margin-bottom: 10px; 
}

#tag-list a, #categories-list a {
    color: #666;
    transition: .5s; 
}

 #tag-list a:hover, #categories-list a:hover {
    color: #000; 
}

/* FOOTER */

footer {
    width: 100%;
    position:absolute;
    bottom: 0;
    text-align: center;
    background-color: var(--color-escura);
    color: var(--color-branca);
    padding: 50px 0px;
}

/* MOBILE */

@media(max-width: 480px) {
    .nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* HOME */
    #title-container {
        min-width: 100%;
        margin-top: 20px;
    }

    #post-container {
        margin-top: 20px
    }

    .post-box {
        flex: 100% 1 0;
        padding: 15px;
        margin: 0;
    }

    /* POST */
    #post-container {
        grid-template-columns: 100%;
        padding: 15px;
        grid-template-areas: 'main'
        'sidebar';
    }

    .img-container img {
        width: 100%;
    }
}